### Segmenting and Clustering Neighborhoods in Toronto - IMB coursera course week 3

##### First I will install beautifulsoup4, as it is the most up to date version. Beautifulsoup4 will help me with data extraction from a html file.

In [29]:
!pip install beautifulsoup4

Requirement already satisfied: beautifulsoup4 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (4.9.1)
Requirement already satisfied: soupsieve>1.2 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from beautifulsoup4) (2.0.1)

##### Next i will install lxml which is the most feature-rich and easy-to-use library for processing XML and HTML in the Python language.

In [30]:
!pip install lxml

Requirement already satisfied: lxml in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (4.5.1)

#### In case lxml will not working I am installing is a pure-python library for parsing HTML: html5lib

In [31]:
!pip install html5lib

Requirement already satisfied: html5lib in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (0.9999999)
Requirement already satisfied: six in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from html5lib) (1.15.0)

#### After that I am additionally installing request library(Python HTTP library). 
#### In its describtion on Wikipedia webpage its goal is to make HTTP requests simpler and more human-friendly which was quite true during this assighment.

In [32]:
!pip install request  #request library

Requirement already satisfied: request in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (2019.4.13)
Requirement already satisfied: setuptools in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from request) (47.1.1.post20200529)
Requirement already satisfied: get in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from request) (2019.4.13)
Requirement already satisfied: post in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from request) (2019.4.13)
Requirement already satisfied: query-string in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from get->request) (2019.4.13)
Requirement already satisfied: public in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from query-string->get->request) (2019.4.13)

#### Because I had problem with lxml i had to easy install it again.

In [33]:
!easy_install lxml

WARNING: The easy_install command is deprecated and will be removed in a future version.
Searching for lxml
Best match: lxml 4.5.1
Adding lxml 4.5.1 to easy-install.pth file

Using /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages
Processing dependencies for lxml
Finished processing dependencies for lxml

#### Importing all important packages for starting data extraction and processing.

In [34]:
from bs4 import BeautifulSoup
import requests
import lxml
import pandas as pd
import numpy as np

#### Due to some problems I had to easy install html5lib ahain. It worked after that.

In [35]:
!easy_install html5lib

WARNING: The easy_install command is deprecated and will be removed in a future version.
Searching for html5lib
Best match: html5lib 0.9999999
Adding html5lib 0.9999999 to easy-install.pth file

Using /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages
Processing dependencies for html5lib
Finished processing dependencies for html5lib

#### End of preparation stage.

#### I donloaded the 'List of postal codes of Canada_ M-Wikipedia_simple' html page and placed it in my directory.

In [45]:
with open('List of postal codes of Canada_ M-Wikipedia_simple.html') as html_file:
    soup = BeautifulSoup(html_file, "html.parser") #html.parser worked better than lxml

#####

##### Extracting table from given code:

In [46]:
raw_table = soup.find("table", attrs={"class": "wikitable"})

#####

##### Extracting data from the table on a webpage:

In [47]:
raw_table_data = raw_table.tbody.find_all("tr")

#####

##### Extracting text only:

In [48]:
raw_table_texts = raw_table.text

#####

##### In the cell below I was checking how my data looks like. It was one string with \n\n in between words so if printed each word would appear in its own line. I included it in here as it is very important to understand your data but I did not run it again as it took a lot of space!

In [40]:
#raw_table_texts

#####

##### With knowing how my data looks like I transformed each line as its own object using .splitlines() command:

In [49]:
table_t = raw_table_texts.splitlines()

#####

##### With extraction of each word of the table some additional spaces were counted as objects as well to ensure smooth processing I had to remove them. 
##### To do so I prepared a list called table2 (a bit unfortunate name but it was a table to be). Using a for loop I saved only not empty (' ') objects in it.

In [50]:
table2 = [i for i in table_t if i != '']

##### Knowing names in my list table2 were put sequentially in order 'Postal Code', 'Neighborhood' and 'Borough' I created 3 new empty tables that represent them. 

##### Next I created another for loop that divided data sequentially into 3 given groups and append them into empty tables.

In [51]:
ps_code = []
bor = []
n_hood =[]


for i, row in enumerate(table2):
    if i % 3 == 0:
        ps_code.append(row)
    elif (i + 1) % 3 == 0:
        bor.append(row)
    elif ((i + 1) + 1) % 3 ==0:
        n_hood.append(row)

##### As headings were still added as a regular data I extracted them and appended them into new empty headings table.

In [52]:
heading = []
heading.append(ps_code[0])
heading.append(bor[0])
heading.append(n_hood[0])

##### Making sure that table heading was assign correctly

In [53]:
heading

['Postal Code', 'Neighborhood', 'Borough']

##### The names of the columns were still included in the data I have to delete them.

In [54]:
del(bor[0])
del(n_hood[0])
del(ps_code[0])

#####

##### Creating new table df_t and assigning the extracted headings as names for columns.

In [55]:
df_t = pd.DataFrame(columns = heading )

##### Visualization to check if the columns names were assign correctly:

In [56]:
df_t

Empty DataFrame
Columns: [Postal Code, Neighborhood, Borough]
Index: []

##### Adding extracted earlier data to a final table:

In [57]:
df_t['Postal Code'] = ps_code
df_t['Neighborhood'] = n_hood
df_t['Borough'] = bor

#####

##### Making sure transition was correct.

In [58]:
df_t

,Postal Code,Neighborhood,Borough
0,M1A,Not assigned,Not assigned
1,M2A,Not assigned,Not assigned
2,M3A,North York,Parkwoods
3,M4A,North York,Victoria Village
4,M5A,Downtown Toronto,"Regent Park, Harbourfront"
...,...,...,...
175,M5Z,Not assigned,Not assigned
176,M6Z,Not assigned,Not assigned
177,M7Z,Not assigned,Not assigned
178,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."
179,M9Z,Not assigned,Not assigned

##### We can see that we have currently 180 entries in the table. Some of the Neighborhoods and Boroughs are not assigned.

##### Following the directions I am excluding a 'not assigned' Boroughs by creating a new table that includes only assigned Boroughs.

In [59]:
df_t2 = df_t.loc[df_t['Borough'] != 'Not assigned']

###

##### Makig sure the index is set correctly:

In [60]:
df_t2.reset_index(drop=True, inplace = True)

###

####

##### Checking if there are any 'not assign' Neighborhoods to see if we have to assigning any Borough names to its 'not assign' Neighborhoods:

In [63]:
df_t2.loc[df_t2['Neighborhood'] =='Not assigned']

Empty DataFrame
Columns: [Postal Code, Neighborhood, Borough]
Index: []

##### There are no Neighborhoods that are 'not assigned' left.

###

##### Displaing 12 rows of finished table in alphabetical order (Postal Code).

In [64]:
df_t2.head(12)

,Postal Code,Neighborhood,Borough
0,M3A,North York,Parkwoods
1,M4A,North York,Victoria Village
2,M5A,Downtown Toronto,"Regent Park, Harbourfront"
3,M6A,North York,"Lawrence Manor, Lawrence Heights"
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government"
5,M9A,Etobicoke,"Islington Avenue, Humber Valley Village"
6,M1B,Scarborough,"Malvern, Rouge"
7,M3B,North York,Don Mills
8,M4B,East York,"Parkview Hill, Woodbine Gardens"
9,M5B,Downtown Toronto,"Garden District, Ryerson"
10,M6B,North York,Glencairn
11,M9B,Etobicoke,"West Deane Park, Princess Gardens, Martin Grov..."

##### Retrieving shape of the table. It has 103 rows and 3 columns

In [65]:
df_t2.shape

(103, 3)