### Segmenting and Clustering Neighborhoods in Toronto - IMB coursera course week 3 part 2

###### The new code is added after the .shape command. This part of assignment is focused to add latitude and longitude to a created earlier table of the Neighborhoods.

##### First I will install beautifulsoup4, as it is the most up to date version. Beautifulsoup4 will help me with data extraction from a html file.

In [1]:
!pip install beautifulsoup4

Collecting beautifulsoup4
  Downloading https://files.pythonhosted.org/packages/66/25/ff030e2437265616a1e9b25ccc864e0371a0bc3adb7c5a404fd661c6f4f6/beautifulsoup4-4.9.1-py3-none-any.whl (115kB)
     |████████████████████████████████| 122kB 1.7MB/s eta 0:00:01
Collecting soupsieve>1.2 (from beautifulsoup4)
  Downloading https://files.pythonhosted.org/packages/6f/8f/457f4a5390eeae1cc3aeab89deb7724c965be841ffca6cfca9197482e470/soupsieve-2.0.1-py3-none-any.whl
Installing collected packages: soupsieve, beautifulsoup4
Successfully installed beautifulsoup4-4.9.1 soupsieve-2.0.1

##### Next i will install lxml which is the most feature-rich and easy-to-use library for processing XML and HTML in the Python language.

In [2]:
!pip install lxml

Collecting lxml
  Downloading https://files.pythonhosted.org/packages/55/6f/c87dffdd88a54dd26a3a9fef1d14b6384a9933c455c54ce3ca7d64a84c88/lxml-4.5.1-cp36-cp36m-manylinux1_x86_64.whl (5.5MB)
     |████████████████████████████████| 5.5MB 4.9MB/s eta 0:00:01�███████████████████▉        | 4.1MB 4.9MB/s eta 0:00:01████▍  | 5.1MB 4.9MB/s eta 0:00:01
Installing collected packages: lxml
Successfully installed lxml-4.5.1

#### In case lxml will not working I am installing is a pure-python library for parsing HTML: html5lib

In [3]:
!pip install html5lib

Requirement already satisfied: html5lib in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (0.9999999)
Requirement already satisfied: six in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from html5lib) (1.15.0)

#### After that I am additionally installing request library(Python HTTP library). 
#### In its describtion on Wikipedia webpage its goal is to make HTTP requests simpler and more human-friendly which was quite true during this assighment.

In [4]:
!pip install request  #request library

Collecting request
  Downloading https://files.pythonhosted.org/packages/f1/27/7cbde262d854aedf217061a97020d66a63163c5c04e0ec02ff98c5d8f44e/request-2019.4.13.tar.gz
Collecting get (from request)
  Downloading https://files.pythonhosted.org/packages/3f/ef/bb46f77f7220ac1b7edba0c76d810c89fddb24ddd8c08f337b9b4a618db7/get-2019.4.13.tar.gz
Collecting post (from request)
  Downloading https://files.pythonhosted.org/packages/0f/05/bd79da5849ea6a92485ed7029ef97b1b75e55c26bc0ed3a7ec769af666f3/post-2019.4.13.tar.gz
Requirement already satisfied: setuptools in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from request) (47.1.1.post20200529)
Collecting query_string (from get->request)
  Downloading https://files.pythonhosted.org/packages/12/3c/412a45daf5bea9b1d06d7de41787ec4168001dfa418db7ec8723356b119f/query-string-2019.4.13.tar.gz
Collecting public (from query_string->get->request)
  Downloading https://files.pythonhosted.org/packages/54/4d/b40004cc6c07665e48af22cfe1e631f219bf4282e15fa76a5b6364f6885c/public-2019.4.13.tar.gz
Building wheels for collected packages: request, get, post, query-string, public
  Building wheel for request (setup.py) ... done
  Stored in directory: /home/jupyterlab/.cache/pip/wheels/30/84/5f/484cfba678967ef58c16fce6890925d5c7172622f20111fbfd
  Building wheel for get (setup.py) ... done
  Stored in directory: /home/jupyterlab/.cache/pip/wheels/c1/e3/c1/d02c8c58538853e4c9b78cadb74f6d5c5c370b48a69a7271aa
  Building wheel for post (setup.py) ... done
  Stored in directory: /home/jupyterlab/.cache/pip/wheels/c3/c3/24/b5c132b537ab380c02d69e6bd4dec1f5db56b5fe19030473d7
  Building wheel for query-string (setup.py) ... done
  Stored in directory: /home/jupyterlab/.cache/pip/wheels/d6/a4/78/01b20a9dc224dcc009fab669f7f27b943b8889c5150bd68d8a
  Building wheel for public (setup.py) ... done
  Stored in directory: /home/jupyterlab/.cache/pip/wheels/23/7c/6e/f5b4e09d6596c8b8802b347e48f149031e2363368048f1347a
Successfully built request get post query-string public
Installing collected packages: public, query-string, get, post, request
Successfully installed get-2019.4.13 post-2019.4.13 public-2019.4.13 query-string-2019.4.13 request-2019.4.13

#### Because I had problem with lxml i had to easy install it again.

In [5]:
!easy_install lxml

WARNING: The easy_install command is deprecated and will be removed in a future version.
Searching for lxml
Best match: lxml 4.5.1
Adding lxml 4.5.1 to easy-install.pth file

Using /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages
Processing dependencies for lxml
Finished processing dependencies for lxml

#### Importing all important packages for starting data extraction and processing.

In [6]:
from bs4 import BeautifulSoup
import requests
import lxml
import pandas as pd
import numpy as np

#### Due to some problems I had to easy install html5lib ahain. It worked after that.

In [7]:
!easy_install html5lib

WARNING: The easy_install command is deprecated and will be removed in a future version.
Searching for html5lib
Best match: html5lib 0.9999999
Adding html5lib 0.9999999 to easy-install.pth file

Using /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages
Processing dependencies for html5lib
Finished processing dependencies for html5lib

#### End of preparation stage.

#### I donloaded the 'List of postal codes of Canada_ M-Wikipedia_simple' html page and placed it in my directory.

In [8]:
with open('List of postal codes of Canada_ M-Wikipedia_simple.html') as html_file:
    soup = BeautifulSoup(html_file, "html.parser") #html.parser worked better than lxml

#####

##### Extracting table from given code:

In [9]:
raw_table = soup.find("table", attrs={"class": "wikitable"})

#####

##### Extracting data from the table on a webpage:

In [10]:
raw_table_data = raw_table.tbody.find_all("tr")

#####

##### Extracting text only:

In [11]:
raw_table_texts = raw_table.text

#####

##### In the cell below I was checking how my data looks like. It was one string with \n\n in between words so if printed each word would appear in its own line. I included it in here as it is very important to understand your data but I did not run it again as it took a lot of space!

In [12]:
#raw_table_texts

#####

##### With knowing how my data looks like I transformed each line as its own object using .splitlines() command:

In [13]:
table_t = raw_table_texts.splitlines()

#####

##### With extraction of each word of the table some additional spaces were counted as objects as well to ensure smooth processing I had to remove them. 
##### To do so I prepared a list called table2 (a bit unfortunate name but it was a table to be). Using a for loop I saved only not empty (' ') objects in it.

In [14]:
table2 = [i for i in table_t if i != '']

##### Knowing names in my list table2 were put sequentially in order 'Postal Code', 'Neighborhood' and 'Borough' I created 3 new empty tables that represent them. 

##### Next I created another for loop that divided data sequentially into 3 given groups and append them into empty tables.

In [15]:
ps_code = []
bor = []
n_hood =[]


for i, row in enumerate(table2):
    if i % 3 == 0:
        ps_code.append(row)
    elif (i + 1) % 3 == 0:
        bor.append(row)
    elif ((i + 1) + 1) % 3 ==0:
        n_hood.append(row)

##### As headings were still added as a regular data I extracted them and appended them into new empty headings table.

In [16]:
heading = []
heading.append(ps_code[0])
heading.append(bor[0])
heading.append(n_hood[0])

##### Making sure that table heading was assign correctly

In [17]:
heading

['Postal Code', 'Neighborhood', 'Borough']

##### The names of the columns were still included in the data I have to delete them.

In [18]:
del(bor[0])
del(n_hood[0])
del(ps_code[0])

#####

##### Creating new table df_t and assigning the extracted headings as names for columns.

In [19]:
df_t = pd.DataFrame(columns = heading )

##### Visualization to check if the columns names were assign correctly:

In [20]:
df_t

Empty DataFrame
Columns: [Postal Code, Neighborhood, Borough]
Index: []

##### Adding extracted earlier data to a final table:

In [21]:
df_t['Postal Code'] = ps_code
df_t['Neighborhood'] = n_hood
df_t['Borough'] = bor

#####

##### Making sure transition was correct.

In [22]:
df_t

,Postal Code,Neighborhood,Borough
0,M1A,Not assigned,Not assigned
1,M2A,Not assigned,Not assigned
2,M3A,North York,Parkwoods
3,M4A,North York,Victoria Village
4,M5A,Downtown Toronto,"Regent Park, Harbourfront"
...,...,...,...
175,M5Z,Not assigned,Not assigned
176,M6Z,Not assigned,Not assigned
177,M7Z,Not assigned,Not assigned
178,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."
179,M9Z,Not assigned,Not assigned

##### We can see that we have currently 180 entries in the table. Some of the Neighborhoods and Boroughs are not assigned.

##### Following the directions I am excluding a 'not assigned' Boroughs by creating a new table that includes only assigned Boroughs.

In [23]:
df_t2 = df_t.loc[df_t['Borough'] != 'Not assigned']

###

##### Makig sure the index is set correctly:

In [24]:
df_t2.reset_index(drop=True, inplace = True)

###

####

##### Checking if there are any 'not assign' Neighborhoods to see if we have to assigning any Borough names to its 'not assign' Neighborhoods:

In [25]:
df_t2.loc[df_t2['Neighborhood'] =='Not assigned']

Empty DataFrame
Columns: [Postal Code, Neighborhood, Borough]
Index: []

##### There are no Neighborhoods that are 'not assigned' left.

###

##### Displaing 12 rows of finished table.

In [26]:
df_t2.head(12)

,Postal Code,Neighborhood,Borough
0,M3A,North York,Parkwoods
1,M4A,North York,Victoria Village
2,M5A,Downtown Toronto,"Regent Park, Harbourfront"
3,M6A,North York,"Lawrence Manor, Lawrence Heights"
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government"
5,M9A,Etobicoke,"Islington Avenue, Humber Valley Village"
6,M1B,Scarborough,"Malvern, Rouge"
7,M3B,North York,Don Mills
8,M4B,East York,"Parkview Hill, Woodbine Gardens"
9,M5B,Downtown Toronto,"Garden District, Ryerson"
10,M6B,North York,Glencairn
11,M9B,Etobicoke,"West Deane Park, Princess Gardens, Martin Grov..."

##### Retrieving shape of the table. It has 103 rows and 3 columns

In [27]:
df_t2.shape

(103, 3)

##### Installing pandas and its dependencies in Anaconda to share data, code, analysis results, visualizations, and narrative text.

In [29]:
conda install pandas

Collecting package metadata (current_repodata.json): done
Solving environment: done

## Package Plan ##

  environment location: /home/jupyterlab/conda/envs/python

  added / updated specs:
    - pandas


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    ca-certificates-2020.1.1   |                0         125 KB
    certifi-2020.6.20          |           py36_0         156 KB
    openssl-1.1.1g             |       h7b6447c_0         2.5 MB
    pandas-1.0.5               |   py36h0573a6f_0         7.8 MB
    pytz-2020.1                |             py_0         184 KB
    ------------------------------------------------------------
                                           Total:        10.8 MB

The following NEW packages will be INSTALLED:

  pandas             pkgs/main/linux-64::pandas-1.0.5-py36h0573a6f_0
  pytz               pkgs/main/noarch::pytz-2020.1-py_0

The following packages will be UPDATED:

  certifi            conda-forge::certifi-2020.4.5.2-py36h~ --> pkgs/main::certifi-2020.6.20-py36_0

The following packages will be SUPERSEDED by a higher-priority channel:

  ca-certificates    conda-forge::ca-certificates-2020.4.5~ --> pkgs/main::ca-certificates-2020.1.1-0
  openssl            conda-forge::openssl-1.1.1g-h516909a_0 --> pkgs/main::openssl-1.1.1g-h7b6447c_0



Downloading and Extracting Packages
ca-certificates-2020 | 125 KB    | ##################################### | 100%
pandas-1.0.5         | 7.8 MB    | ##################################### | 100%
openssl-1.1.1g       | 2.5 MB    | ##################################### | 100%
certifi-2020.6.20    | 156 KB    | ##################################### | 100%
pytz-2020.1          | 184 KB    | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: done

Note: you may need to restart the kernel to use updated packages.

In [30]:
pip install pandas

Requirement already satisfied: pandas in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (1.0.5)
Requirement already satisfied: pytz>=2017.2 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from pandas) (2020.1)
Requirement already satisfied: python-dateutil>=2.6.1 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from pandas) (2.8.1)
Requirement already satisfied: numpy>=1.13.3 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from pandas) (1.18.5)
Requirement already satisfied: six>=1.5 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from python-dateutil>=2.6.1->pandas) (1.15.0)
Note: you may need to restart the kernel to use updated packages.

##### Using pandas to read .csv file as a df_gc. The df_gc contains a Geological Coordinates given by the assignment. I chose to use the data directly from csv file as it is more reliable.
##### I am using pandas library to load the data.

In [35]:
df_gc = pd.read_csv('Geospatial_Coordinates.csv')
print(df_gc)

    Postal Code   Latitude  Longitude
0           M1B  43.806686 -79.194353
1           M1C  43.784535 -79.160497
2           M1E  43.763573 -79.188711
3           M1G  43.770992 -79.216917
4           M1H  43.773136 -79.239476
..          ...        ...        ...
98          M9N  43.706876 -79.518188
99          M9P  43.696319 -79.532242
100         M9R  43.688905 -79.554724
101         M9V  43.739416 -79.588437
102         M9W  43.706748 -79.594054

[103 rows x 3 columns]

##### The Geospatial Coordinates are loaded as a typical data frame. It has the same as the created previously Neighborhoods in Toronto table(103 rows x 3 columns).

In [36]:
df_gc

    Postal Code   Latitude  Longitude
0           M1B  43.806686 -79.194353
1           M1C  43.784535 -79.160497
2           M1E  43.763573 -79.188711
3           M1G  43.770992 -79.216917
4           M1H  43.773136 -79.239476
..          ...        ...        ...
98          M9N  43.706876 -79.518188
99          M9P  43.696319 -79.532242
100         M9R  43.688905 -79.554724
101         M9V  43.739416 -79.588437
102         M9W  43.706748 -79.594054

[103 rows x 3 columns]

##### Using a full Join in Pandas to connect both data frames (Toronto neighborhoods and Latitude/Longitude) by postal code as s Key.

In [39]:
df_Tgc = pd.merge(df_t2, df_gc, on='Postal Code', how='outer')

##### Making sure all data are correctly joined

In [43]:
df_Tgc.head(12)

,Postal Code,Neighborhood,Borough,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,"Regent Park, Harbourfront",43.654260,-79.360636
3,M6A,North York,"Lawrence Manor, Lawrence Heights",43.718518,-79.464763
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government",43.662301,-79.389494
5,M9A,Etobicoke,"Islington Avenue, Humber Valley Village",43.667856,-79.532242
6,M1B,Scarborough,"Malvern, Rouge",43.806686,-79.194353
7,M3B,North York,Don Mills,43.745906,-79.352188
8,M4B,East York,"Parkview Hill, Woodbine Gardens",43.706397,-79.309937
9,M5B,Downtown Toronto,"Garden District, Ryerson",43.657162,-79.378937
10,M6B,North York,Glencairn,43.709577,-79.445073
11,M9B,Etobicoke,"West Deane Park, Princess Gardens, Martin Grov...",43.650943,-79.554724

###### NOTE: I have no idea why my general order is different as the answer on the web-page but the coordinates are assigned correctly.