## Peer-graded Assignment: Capstone Project - The Battle of Neighborhoods (Week 1)  part 2

#### My project:

##### In my Peer-graded Assignment: Capstone Project - The Battle of Neighborhoods (Week 1) I decided to focus on London city. In this project I will focus on analyzing which area in London has the most amount of vegan restaurants. To do so I will use Foursquare location data. 
##### In the part 2 of week one I will focus on cleaning up and preparing data for analysis.

##### This step composes of 4 parts. In part 1) I will extract data from the wikipedia pages of each Postal District. After saving them in the regular data frames in step 2) I will append them together into ultimate London Postcodes data frame. In step 3 I will upload the postcode location information and join it with created table in step 2). Last step 4) will focus on gathering vegan restaurants location data from Foursquare and mapping it. With completed steps my data will be ready for statistical analysis.

###### Steps:
###### 1) Postal Areas 
###### 2) London Database
###### 3) Geo-location Data
###### 4) Foursquare

### Downloading the libraries:  
##### Beautifulsoup4 will help me with data extraction from a html file.
##### Installing html5lib libraries
##### Installing request library(Python HTTP library)

In [6]:
!pip install beautifulsoup4  #Beautifulsoup4 
!easy_install html5lib       #html5lib
!pip install request         #request library
!pip install lxml            #lxml

Requirement already satisfied: beautifulsoup4 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (4.9.1)
Requirement already satisfied: soupsieve>1.2 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from beautifulsoup4) (2.0.1)
WARNING: The easy_install command is deprecated and will be removed in a future version.
Searching for html5lib
Best match: html5lib 0.9999999
Adding html5lib 0.9999999 to easy-install.pth file

Using /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages
Processing dependencies for html5lib
Finished processing dependencies for html5lib
Requirement already satisfied: request in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (0.0.0)
Requirement already satisfied: get in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from request) (0.0.0)
Requirement already satisfied: post in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from request) (0.0.0)
Requirement already satisfied: query-string in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from get->request) (0.0.0)
Requirement already satisfied: lxml in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (4.5.1)

##### Importing all important packages for starting data extraction and processing.

In [7]:
from bs4 import BeautifulSoup
import requests
import lxml
import pandas as pd
import numpy as np
!conda install -c conda-forge geopy --yes 
from geopy.geocoders import Nominatim # module to convert an address into latitude and longitude values
# libraries for displaying images
from IPython.display import Image 
from IPython.core.display import HTML 
# tranforming json file into a pandas dataframe library
from pandas.io.json import json_normalize
!conda install -c conda-forge folium=0.5.0 --yes
import folium # plotting library

Collecting package metadata (current_repodata.json): done
Solving environment: done

# All requested packages already installed.

Collecting package metadata (current_repodata.json): done
Solving environment: done

# All requested packages already installed.

# Step 1) Postal Areas

##### In 2015 London was 32nd largest city in the world. The London postal district is the area in England, United Kingdom of 241 square miles (620 km^2). This contributed to a complicated postal system.
##### Generally London postal district area is divided into 8 parts (clockwise): 
###### E  - Eastern, 
###### EC - Eastern Central, 
###### SE - South Eastern, 
###### SW - South Western
###### WC - Western Central
###### W  - Western, 
###### NW - North Western, 
###### N  - Northern.

##### For clarity I will process each individual postal district separately and append it to a collective data base. Each of the postal districts have a designated wikipedia web-page, from which I will obtain the postal data. After creating ultimate London post code database I will assign longitude and latitude to each of the out-codes.

### Starting with the Eastern postal district:

##### The web-page was saved in the save depository in Jupyter noteboks.
##### Using beautiful soup to extract data from https://en.wikipedia.org/wiki/E_postcode_area html file:

In [8]:
with open('E postcode area - Wikipedia.html') as html_file:
    soupE = BeautifulSoup(html_file, "html.parser")

##### Extracting table from given code:

In [9]:
raw_tableE = soupE.find("table", attrs={"class": "wikitable"})
raw_table_dataE = raw_tableE.tbody.find_all("tr")
raw_table_textsE = raw_tableE.text
table_E = raw_table_textsE.splitlines()

##### Creating list with only Postcode, Local authority and Coverage of the jurisdiction data:

In [10]:
tabE = [i for i in table_E if i != '' and i != 'LONDON' and i != 'non-geographic']

##### Removing headings:

In [11]:
tabE.remove('Post town')
tabE.remove('Postcode district')
tabE.remove('Coverage')
tabE.remove('Local authority area')

##### Creating empty tables in which the data will be assigned using for loop:

In [12]:
ps_code_distr = []
coverage = []
loc_auth_area =[]


for i, row in enumerate(tabE):
    if i % 3 == 0:
        ps_code_distr.append(row)
    elif (i + 1) % 3 == 0:
        coverage.append(row)
    elif ((i + 1) + 1) % 3 ==0:
        loc_auth_area.append(row)

##### Naming headings that will be unified for all postal codes:

In [13]:
heading = ['Postcode district', 'Coverage', 'Local autority area']
heading

['Postcode district', 'Coverage', 'Local autority area']

##### Creating empty Data Frame with determined earlier heading names for Eastern post codes:

In [14]:
df_E = pd.DataFrame(columns = heading )

##### Adding data to created earlier Data Frame:

In [15]:
df_E['Postcode district'] = ps_code_distr
df_E['Coverage'] = coverage
df_E['Local autority area'] = loc_auth_area

##### Data overview:

In [16]:
df_E.head()

,Postcode district,Coverage,Local autority area
0,E1,"Tower Hamlets, Hackney, City of London","Eastern head district: Aldgate (part), Bishops..."
1,E1W,Tower Hamlets,"Wapping, St Katharine Docks, Stepney (part), S..."
2,E2,"Tower Hamlets, Hackney","Bethnal Green district: Bethnal Green, Haggers..."
3,E3,"Tower Hamlets, Newham","Bow district: Bow, Bow Common, Bromley-by-Bow,..."
4,E4,"Waltham Forest, Enfield, Epping Forest (Essex)","Chingford district: Chingford, Sewardstone, Hi..."

### Eastern Central district

##### The web-page was saved in the save depository in Jupyter noteboks.
##### Using beautiful soup to extract data from https://en.wikipedia.org/wiki/EC_postcode_area html file:

In [17]:
with open('EC postcode area - Wikipedia.html') as html_file:
    soupEC = BeautifulSoup(html_file, "html.parser")

##### Extracting table from given code:

In [18]:
raw_tableEC = soupEC.find("table", attrs={"class": "wikitable"})
raw_table_dataEC = raw_tableEC.tbody.find_all("tr")
raw_table_textsEC = raw_tableEC.text
table_EC = raw_table_textsEC.splitlines()

##### Creating list with only Postcode, Local authority and Coverage of the jurisdiction data:

In [19]:
tabEC = [i for i in table_EC if i != '' and i != 'LONDON' and i != 'non-geographic']

##### Removing headings and non- geographic post codes:

In [20]:
tabEC.remove('Local authority area')
tabEC.remove('Coverage')
tabEC.remove('Postcode district')
tabEC.remove('Post town')
tabEC.remove('EC1P')
tabEC.remove('EC2P')
tabEC.remove('EC3P')
tabEC.remove('EC4P')
tabEC.remove('EC50')

##### Creating empty tables in which the data will be assigned using for loop:

In [21]:
ps_code_distrEC = []
coverageEC = []
loc_auth_areaEC =[]


for i, row in enumerate(tabEC):
    if i % 3 == 0:
        ps_code_distrEC.append(row)
    elif (i + 1) % 3 == 0:
        coverageEC.append(row)
    elif ((i + 1) + 1) % 3 ==0:
        loc_auth_areaEC.append(row)

##### Creating empty Data Frame with determined earlier heading names for Central Eastern post codes:

In [22]:
df_EC = pd.DataFrame(columns = heading )

##### Adding data to created earlier Data Frame:

In [23]:
df_EC['Postcode district'] = ps_code_distrEC
df_EC['Coverage'] = coverageEC
df_EC['Local autority area'] = loc_auth_areaEC

##### Data overview:

In [24]:
df_EC.head()

,Postcode district,Coverage,Local autority area
0,EC1A,"City of London, Islington",St Bartholomew's Hospital
1,EC1M,"Islington, Camden, City of London","Clerkenwell, Farringdon"
2,EC1N,"Camden, City of London",Hatton Garden
3,EC1R,"Islington, Camden","Finsbury, Finsbury Estate (west)"
4,EC1V,"Islington, Hackney","Finsbury (east), Moorfields Eye Hospital"

####

### South Eastern District

##### The web-page was saved in the save depository in Jupyter noteboks.
##### Using beautiful soup to extract data from https://en.wikipedia.org/wiki/SE_postcode_area html file:

In [25]:
with open('SE postcode area - Wikipedia.html') as html_file:
    soupSE = BeautifulSoup(html_file, "html.parser")

##### Extracting table from given code:

In [26]:
raw_tableSE = soupSE.find("table", attrs={"class": "wikitable"})
raw_table_dataSE = raw_tableSE.tbody.find_all("tr")
raw_table_textsSE = raw_tableSE.text
table_SE = raw_table_textsSE.splitlines()

##### Creating list with only Postcode, Local authority and Coverage of the jurisdiction data:

In [27]:
tabSE = [i for i in table_SE if i != '' and i != 'LONDON' and i != 'non-geographic']

##### Removing headings and non- geographic post codes:

In [28]:
tabSE.remove('Local authority area')
tabSE.remove('Coverage')
tabSE.remove('Postcode district')
tabSE.remove('Post town')
tabSE.remove('SE1P')

##### Creating empty tables in which the data will be assigned using for loop:

In [29]:
ps_code_distrSE = []
coverageSE = []
loc_auth_areaSE =[]


for i, row in enumerate(tabSE):
    if i % 3 == 0:
        ps_code_distrSE.append(row)
    elif (i + 1) % 3 == 0:
        coverageSE.append(row)
    elif ((i + 1) + 1) % 3 ==0:
        loc_auth_areaSE.append(row)

##### Creating empty Data Frame with determined earlier heading names for South Eastern post codes:

In [30]:
df_SE = pd.DataFrame(columns = heading )

##### Adding data to created earlier Data Frame:

In [31]:
df_SE['Postcode district'] = ps_code_distrSE
df_SE['Coverage'] = coverageSE
df_SE['Local autority area'] = loc_auth_areaSE

##### Data overview:

In [32]:
df_SE.head()

,Postcode district,Coverage,Local autority area
0,SE1,"Lambeth, Southwark, City of London","South Eastern head district: Bankside, South B..."
1,SE2,"Bexley, Greenwich","Abbey Wood district: Abbey Wood, West Heath, C..."
2,SE3,"Greenwich, Lewisham","Blackheath district: Blackheath, Kidbrooke, We..."
3,SE4,Lewisham,"Brockley district: Brockley, Crofton Park, Lad..."
4,SE5,"Southwark, Lambeth","Camberwell district: Camberwell, Denmark Hill,..."

#

#### South Western District

##### The web-page was saved in the save depository in Jupyter noteboks.
##### Using beautiful soup to extract data from https://en.wikipedia.org/wiki/SW_postcode_area html file:

In [33]:
with open('SW postcode area - Wikipedia.html') as html_file:
    soupSW = BeautifulSoup(html_file, "html.parser")

##### Extracting table from given code:

In [34]:
raw_tableSW = soupSW.find("table", attrs={"class": "wikitable"})
raw_table_dataSW = raw_tableSW.tbody.find_all("tr")
raw_table_textsSW = raw_tableSW.text
table_SW = raw_table_textsSW.splitlines()

##### Creating list with only Postcode, Local authority and Coverage of the jurisdiction data:

In [35]:
tabSW = [i for i in table_SW if i != '' and i != 'LONDON' and i != 'non-geographic']

##### Removing headings:

In [36]:
tabSW.remove('Local authority area')
tabSW.remove('Coverage')
tabSW.remove('Postcode district')
tabSW.remove('Post town')

##### Creating empty tables in which the data will be assigned using for loop:

In [37]:
ps_code_distrSW = []
coverageSW = []
loc_auth_areaSW =[]


for i, row in enumerate(tabSW):
    if i % 3 == 0:
        ps_code_distrSW.append(row)
    elif (i + 1) % 3 == 0:
        coverageSW.append(row)
    elif ((i + 1) + 1) % 3 ==0:
        loc_auth_areaSW.append(row)

##### Creating empty Data Frame with determined earlier heading names for South Western post codes:

In [38]:
df_SW = pd.DataFrame(columns = heading )

##### Adding data to created earlier Data Frame:

In [39]:
df_SW['Postcode district'] = ps_code_distrSW
df_SW['Coverage'] = coverageSW
df_SW['Local autority area'] = loc_auth_areaSW

##### Data overview:

In [40]:
df_SW.head()

,Postcode district,Coverage,Local autority area
0,SW1A,Westminster,"Whitehall, Buckingham Palace, the Houses of Pa..."
1,SW1E,Westminster,Northern 'Victoria' around Buckingham Gate (a ...
2,SW1H,Westminster,Surrounds of St James's Park tube station cent...
3,SW1P,Westminster,A projection around Parliament Square. Nearby ...
4,SW1V,Westminster,"between Vauxhall Bridge, Grosvenor (or Victori..."

#

### Western Central District

##### The web-page was saved in the save depository in Jupyter noteboks.
##### Using beautiful soup to extract data from https://en.wikipedia.org/wiki/WC_postcode_area html file:

In [41]:
with open('WC postcode area - Wikipedia.html') as html_file:
    soupWC = BeautifulSoup(html_file, "html.parser")

##### Extracting table from given code:

In [42]:
raw_tableWC = soupWC.find("table", attrs={"class": "wikitable"})
raw_table_dataWC = raw_tableWC.tbody.find_all("tr")
raw_table_textsWC = raw_tableWC.text
table_WC = raw_table_textsWC.splitlines()

##### Creating list with only Postcode, Local authority and Coverage of the jurisdiction data:

In [43]:
tabWC = [i for i in table_SW if i != '' and i != 'LONDON' and i != 'non-geographic']

##### Removing headings:

In [44]:
tabWC.remove('Local authority area')
tabWC.remove('Coverage')
tabWC.remove('Postcode district')
tabWC.remove('Post town')

##### Creating empty tables in which the data will be assigned using for loop:

In [45]:
ps_code_distrWC = []
coverageWC = []
loc_auth_areaWC =[]


for i, row in enumerate(tabWC):
    if i % 3 == 0:
        ps_code_distrWC.append(row)
    elif (i + 1) % 3 == 0:
        coverageWC.append(row)
    elif ((i + 1) + 1) % 3 ==0:
        loc_auth_areaWC.append(row)

##### Creating empty Data Frame with determined earlier heading names for Western Central post codes:

In [46]:
df_WC = pd.DataFrame(columns = heading )

##### Adding data to created earlier Data Frame:

In [47]:
df_WC['Postcode district'] = ps_code_distrWC
df_WC['Coverage'] = coverageWC
df_WC['Local autority area'] = loc_auth_areaWC

##### Data overview:

In [48]:
df_WC.head()

,Postcode district,Coverage,Local autority area
0,SW1A,Westminster,"Whitehall, Buckingham Palace, the Houses of Pa..."
1,SW1E,Westminster,Northern 'Victoria' around Buckingham Gate (a ...
2,SW1H,Westminster,Surrounds of St James's Park tube station cent...
3,SW1P,Westminster,A projection around Parliament Square. Nearby ...
4,SW1V,Westminster,"between Vauxhall Bridge, Grosvenor (or Victori..."

###

### Western District

##### The web-page was saved in the save depository in Jupyter noteboks.
##### Using beautiful soup to extract data from https://en.wikipedia.org/wiki/W_postcode_area html file:

In [49]:
with open('W postcode area - Wikipedia.html') as html_file:
    soupW = BeautifulSoup(html_file, "html.parser")

##### Extracting table from given code:

In [50]:
raw_tableW = soupW.find("table", attrs={"class": "wikitable"})
raw_table_dataW = raw_tableW.tbody.find_all("tr")
raw_table_textsW = raw_tableW.text
table_W = raw_table_textsW.splitlines()

##### Creating list with only Postcode, Local authority and Coverage of the jurisdiction data:

In [51]:
tabW = [i for i in table_W if i != '' and i != 'LONDON' and i != 'non-geographic']

##### Removing headings:

In [52]:
tabW.remove('Local authority area')
tabW.remove('Coverage')
tabW.remove('Postcode district')
tabW.remove('Post town')
tabW.remove("PO boxes & Admail codes in W1[7]")
tabW.remove("W1A")

##### Creating empty tables in which the data will be assigned using for loop:

In [53]:
ps_code_distrW = []
coverageW = []
loc_auth_areaW =[]


for i, row in enumerate(tabW):
    if i % 3 == 0:
        ps_code_distrW.append(row)
    elif (i + 1) % 3 == 0:
        coverageW.append(row)
    elif ((i + 1) + 1) % 3 ==0:
        loc_auth_areaW.append(row)

##### Creating empty Data Frame with determined earlier heading names for Western post codes:

In [54]:
df_W = pd.DataFrame(columns = heading )

##### Adding data to created earlier Data Frame:

In [55]:
df_W['Postcode district'] = ps_code_distrW
df_W['Coverage'] = coverageW
df_W['Local autority area'] = loc_auth_areaW

##### Data overview:

In [56]:
df_W.head()

  Postcode district     Coverage                        Local autority area
0               W1B  Westminster              Portland Place, Regent Street
1               W1C  Westminster                       Oxford Street (west)
2               W1D  Westminster  Soho (south east); Chinatown, Soho Square
3               W1F  Westminster                          Soho (north west)
4               W1G  Westminster                              Harley Street

###

### North Western District

##### The web-page was saved in the save depository in Jupyter noteboks.
##### Using beautiful soup to extract data from https://en.wikipedia.org/wiki/NW_postcode_area html file:

In [57]:
with open('NW postcode area - Wikipedia.html') as html_file:
    soupNW = BeautifulSoup(html_file, "html.parser")

##### Extracting table from given code:

In [58]:
raw_tableNW = soupNW.find("table", attrs={"class": "wikitable"})
raw_table_dataNW = raw_tableNW.tbody.find_all("tr")
raw_table_textsNW = raw_tableNW.text
table_NW = raw_table_textsNW.splitlines()

##### Creating list with only Postcode, Local authority and Coverage of the jurisdiction data:

In [59]:
tabNW = [i for i in table_NW if i != '' and i != 'LONDON' and i != 'non-geographic']

##### Removing headings and non-geographic postcodes:

In [60]:
tabNW.remove('Local authority area')
tabNW.remove('Coverage')
tabNW.remove('Postcode district')
tabNW.remove('Post town')
tabNW.remove("NW26")
tabNW.remove("NW1W")
tabNW.remove("PO boxes in NW1[4]")
tabNW.remove("PO boxes in NW10[4]")

##### Creating empty tables in which the data will be assigned using for loop:

In [61]:
ps_code_distrNW = []
coverageNW = []
loc_auth_areaNW =[]


for i, row in enumerate(tabNW):
    if i % 3 == 0:
        ps_code_distrNW.append(row)
    elif (i + 1) % 3 == 0:
        coverageNW.append(row)
    elif ((i + 1) + 1) % 3 ==0:
        loc_auth_areaNW.append(row)

##### Creating empty Data Frame with determined earlier heading names for North Western post codes:

In [62]:
df_NW = pd.DataFrame(columns = heading )

##### Adding data to created earlier Data Frame:

In [63]:
df_NW['Postcode district'] = ps_code_distrNW
df_NW['Coverage'] = coverageNW
df_NW['Local autority area'] = loc_auth_areaNW

##### Data overview:

In [64]:
df_NW.head()

,Postcode district,Coverage,Local autority area
0,NW1,"Camden, Westminster",North Western head district: Marylebone (part)...
1,NW2,"Barnet, Brent, Camden","Cricklewood district: Cricklewood, Dollis Hill..."
2,NW3,"Camden, Barnet","Hampstead district: Hampstead, Belsize Park, F..."
3,NW4,Barnet,"Hendon district: Hendon, Brent Cross (part)"
4,NW5,"Camden, Islington","Kentish Town district: Kentish Town, Camden To..."

##

### Northern district

##### The web-page was saved in the save depository in Jupyter noteboks.
##### Using beautiful soup to extract data from https://en.wikipedia.org/wiki/N_postcode_area html file:

In [65]:
with open('N postcode area - Wikipedia.html') as html_file:
    soupN = BeautifulSoup(html_file, "html.parser")

##### Extracting table from given code:

In [66]:
raw_tableN = soupN.find("table", attrs={"class": "wikitable"})
raw_table_dataN = raw_tableN.tbody.find_all("tr")
raw_table_textsN = raw_tableN.text
table_N = raw_table_textsN.splitlines()

##### Creating list with only Postcode, Local authority and Coverage of the jurisdiction data:

In [67]:
tabN = [i for i in table_N if i != '' and i != 'LONDON' and i != 'non-geographic']

##### Removing headings:

In [68]:
tabN.remove('Local authority area')
tabN.remove('Coverage')
tabN.remove('Postcode district')
tabN.remove('Post town')
tabN.remove("N1P")
tabN.remove("N81")
tabN.remove("PO boxes in N1 and N1C")
tabN.remove("Electoral Reform Services")

##### Creating empty tables in which the data will be assigned using for loop:

In [69]:
ps_code_distrN = []
coverageN = []
loc_auth_areaN =[]


for i, row in enumerate(tabN):
    if i % 3 == 0:
        ps_code_distrN.append(row)
    elif (i + 1) % 3 == 0:
        coverageN.append(row)
    elif ((i + 1) + 1) % 3 ==0:
        loc_auth_areaN.append(row)

##### Creating empty Data Frame with determined earlier heading names for Northern post codes:

In [70]:
df_N = pd.DataFrame(columns = heading )

##### Adding data to created earlier Data Frame:

In [71]:
df_N['Postcode district'] = ps_code_distrN
df_N['Coverage'] = coverageN
df_N['Local autority area'] = loc_auth_areaN

##### Data overview:

In [72]:
df_N.head()

,Postcode district,Coverage,Local autority area
0,N1,"Hackney, Islington, Camden","Northern head district: Barnsbury (part), Cano..."
1,N1C,Camden,Kings Cross Central
2,N2,"Barnet, Haringey","East Finchley district: East Finchley, Fortis ..."
3,N3,Barnet,"Finchley district: Finchley, Church End, Finch..."
4,N4,"Haringey, Islington, Hackney","Finsbury Park district: Finsbury Park, Manor H..."

###

# Step 2) London postcodes database

### Creating a collaborative table with all Post codes in London.

#### Creating a new empty data frame to store all postcode data:

In [73]:
df_London =pd.DataFrame(columns = heading )

#### Appending all Post Code data to a newly created London post codes data frame:

In [74]:
df_London = df_London.append(df_E, ignore_index=True)
df_London = df_London.append(df_EC, ignore_index=True)
df_London = df_London.append(df_SE, ignore_index=True)
df_London = df_London.append(df_SW, ignore_index=True)
df_London = df_London.append(df_WC, ignore_index=True)
df_London = df_London.append(df_W, ignore_index=True)
df_London = df_London.append(df_NW, ignore_index=True)
df_London = df_London.append(df_N, ignore_index=True)

#### Data overview

In [75]:
df_London

,Postcode district,Coverage,Local autority area
0,E1,"Tower Hamlets, Hackney, City of London","Eastern head district: Aldgate (part), Bishops..."
1,E1W,Tower Hamlets,"Wapping, St Katharine Docks, Stepney (part), S..."
2,E2,"Tower Hamlets, Hackney","Bethnal Green district: Bethnal Green, Haggers..."
3,E3,"Tower Hamlets, Newham","Bow district: Bow, Bow Common, Bromley-by-Bow,..."
4,E4,"Waltham Forest, Enfield, Epping Forest (Essex)","Chingford district: Chingford, Sewardstone, Hi..."
...,...,...,...
181,N18,Enfield,"Upper Edmonton district: Upper Edmonton, Edmon..."
182,N19,"Islington, Camden","Upper Holloway district: Upper Holloway, Archw..."
183,N20,Barnet,"Whetstone district: Whetstone, Totteridge, Oak..."
184,N21,Enfield,"Winchmore Hill district: Winchmore Hill, Bush ..."
185,N22,"Haringey, Enfield","Wood Green district: Wood Green, Bounds Green ..."

# Step 3) London Geo-spatial data

#### Loading postcode out-codes Geo-spatial data into a table:
##### This table have all UK postcodes with their longitude and latitude.

In [76]:
df_gc = pd.read_csv('postcode-outcodes.csv')
print(df_gc)

        id postcode  latitude  longitude
0        2     AB10  57.13514   -2.11731
1        3     AB11  57.13875   -2.09089
2        4     AB12  57.10100   -2.11060
3        5     AB13  57.10801   -2.23776
4        6     AB14  57.10076   -2.27073
...    ...      ...       ...        ...
2998  3001     WV98   0.00000    0.00000
2999  3002      S95   0.00000    0.00000
3000  3003     PA80   0.00000    0.00000
3001  3004      L80   0.00000    0.00000
3002  3005      BS0   0.00000    0.00000

[3003 rows x 4 columns]

#### Dropping redundant information

In [77]:
df_gc.drop(columns = 'id', axis = 1, inplace = True)

#### Making sure all column names are matching for both databases:

In [78]:
df_London.rename(columns={"Postcode district": "postcode"}, inplace = True)

#### Connecting both London postcodes data frame with its longitude and latitude using a pandas Left Join command:  
##### Using left join command will make sure only needed information will be added.

In [79]:
df_LondL = pd.merge(df_London, df_gc, on = 'postcode', how='left')

#### Data overview

In [80]:
df_LondL

,postcode,Coverage,Local autority area,latitude,longitude
0,E1,"Tower Hamlets, Hackney, City of London","Eastern head district: Aldgate (part), Bishops...",51.51766,-0.05841
1,E1W,Tower Hamlets,"Wapping, St Katharine Docks, Stepney (part), S...",51.50775,-0.05739
2,E2,"Tower Hamlets, Hackney","Bethnal Green district: Bethnal Green, Haggers...",51.52939,-0.06080
3,E3,"Tower Hamlets, Newham","Bow district: Bow, Bow Common, Bromley-by-Bow,...",51.52789,-0.02482
4,E4,"Waltham Forest, Enfield, Epping Forest (Essex)","Chingford district: Chingford, Sewardstone, Hi...",51.62196,-0.00339
...,...,...,...,...,...
181,N18,Enfield,"Upper Edmonton district: Upper Edmonton, Edmon...",51.61309,-0.06446
182,N19,"Islington, Camden","Upper Holloway district: Upper Holloway, Archw...",51.56464,-0.12712
183,N20,Barnet,"Whetstone district: Whetstone, Totteridge, Oak...",51.62923,-0.17359
184,N21,Enfield,"Winchmore Hill district: Winchmore Hill, Bush ...",51.63612,-0.09816
185,N22,"Haringey, Enfield","Wood Green district: Wood Green, Bounds Green ...",51.59944,-0.10980

# Step 4) Foursquare data

#### Establishing connection with Foursquare:
##### Data were later obscured for a privacy reasons.

In [81]:
CLIENT_ID = 'YXW00NBBTW1*************' # your Foursquare ID
CLIENT_SECRET = '0PPAXMIVS***************' # your Foursquare Secret
VERSION = '20180604'
LIMIT = 30
#print('Your credentails:')
#print('CLIENT_ID: ' + CLIENT_ID)
#print('CLIENT_SECRET:' + CLIENT_SECRET)

#### Using Foursquare to get London Geo-location data:

In [82]:
address = 'London'

geolocator = Nominatim(user_agent="foursquare_agent")
location = geolocator.geocode(address)
latitude = location.latitude
longitude = location.longitude
print(latitude, longitude)

51.5073219 -0.1276474

#### Using Foursquare to find vegan restaurants in a 30 000 m radius from the center of London, which covers all London area.

In [83]:
search_query = 'vegan'
radius = 30000
print(search_query + ' .... OK!')

vegan .... OK!

#### Define URL

In [84]:
url = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)

#### Get the requests and examine results:

In [87]:
results = requests.get(url).json()

#### Get relevant part of JSON

In [88]:
# assign relevant part of JSON to venues
venues = results['response']['venues']

# tranform venues into a dataframe
dataframe = json_normalize(venues)
dataframe.head()

/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/ipykernel_launcher.py:5: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  """

,id,name,categories,referralId,hasPerk,location.address,location.lat,location.lng,location.labeledLatLngs,location.distance,location.postalCode,location.cc,location.city,location.state,location.country,location.formattedAddress,venuePage.id,location.neighborhood,location.crossStreet
0,59ada1f8febf314589c6f8d5,Vegan Yes,"[{'id': '4bf58dd8d48988d1d3941735', 'name': 'V...",v-1594072245,False,64 Brick Ln,51.518734,-0.071483,"[{'label': 'display', 'lat': 51.518734, 'lng':...",4093,E1 6QL,GB,London,Greater London,United Kingdom,"[64 Brick Ln, London, Greater London, E1 6QL, ...",NaN,NaN,NaN
1,5848791af68d8d38cfcf6446,Vegan Burgers by Mooshies,"[{'id': '4bf58dd8d48988d1d3941735', 'name': 'V...",v-1594072245,False,104 Brick Ln,51.519731,-0.071783,"[{'label': 'display', 'lat': 51.51973095696915...",4109,E1 6RL,GB,London,Greater London,United Kingdom,"[104 Brick Ln, London, Greater London, E1 6RL,...",NaN,NaN,NaN
2,5437b093498e11e3771b4a2c,Vegan Sweet Tooth,"[{'id': '4bf58dd8d48988d1cb941735', 'name': 'F...",v-1594072245,False,NaN,51.520467,-0.072473,"[{'label': 'display', 'lat': 51.52046677379518...",4092,NaN,GB,NaN,NaN,United Kingdom,[United Kingdom],NaN,NaN,NaN
3,5ad1edfe3ba7671c3ec4b6f8,Soho Vegan Market,"[{'id': '4bf58dd8d48988d1d3941735', 'name': 'V...",v-1594072245,False,Rupert Street,51.512285,-0.133766,"[{'label': 'display', 'lat': 51.512285, 'lng':...",696,W1D 7PP,GB,London,Greater London,United Kingdom,"[Rupert Street, London, Greater London, W1D 7P...",NaN,NaN,NaN
4,4bd2ccb39854d13aa352fc4d,222 Veggie Vegan,"[{'id': '4bf58dd8d48988d1d3941735', 'name': 'V...",v-1594072245,False,222 North End Rd,51.486076,-0.202802,"[{'label': 'display', 'lat': 51.48607614693036...",5720,W14 9NU,GB,Hammersmith,Greater London,United Kingdom,"[222 North End Rd, Hammersmith, Greater London...",NaN,NaN,NaN

#### Cleaning up the data

In [89]:
# keep only columns that include venue name, and anything that is associated with location
filtered_columns = ['name', 'categories'] + [col for col in dataframe.columns if col.startswith('location.')] + ['id']
dataframe_filtered = dataframe.loc[:, filtered_columns]

# function that extracts the category of the venue
def get_category_type(row):
    try:
        categories_list = row['categories']
    except:
        categories_list = row['venue.categories']
        
    if len(categories_list) == 0:
        return None
    else:
        return categories_list[0]['name']

# filter the category for each row
dataframe_filtered['categories'] = dataframe_filtered.apply(get_category_type, axis=1)

# clean column names by keeping only last term
dataframe_filtered.columns = [column.split('.')[-1] for column in dataframe_filtered.columns]

dataframe_filtered

,name,categories,address,lat,lng,labeledLatLngs,distance,postalCode,cc,city,state,country,formattedAddress,neighborhood,crossStreet,id
0,Vegan Yes,Vegetarian / Vegan Restaurant,64 Brick Ln,51.518734,-0.071483,"[{'label': 'display', 'lat': 51.518734, 'lng':...",4093,E1 6QL,GB,London,Greater London,United Kingdom,"[64 Brick Ln, London, Greater London, E1 6QL, ...",NaN,NaN,59ada1f8febf314589c6f8d5
1,Vegan Burgers by Mooshies,Vegetarian / Vegan Restaurant,104 Brick Ln,51.519731,-0.071783,"[{'label': 'display', 'lat': 51.51973095696915...",4109,E1 6RL,GB,London,Greater London,United Kingdom,"[104 Brick Ln, London, Greater London, E1 6RL,...",NaN,NaN,5848791af68d8d38cfcf6446
2,Vegan Sweet Tooth,Food Truck,NaN,51.520467,-0.072473,"[{'label': 'display', 'lat': 51.52046677379518...",4092,NaN,GB,NaN,NaN,United Kingdom,[United Kingdom],NaN,NaN,5437b093498e11e3771b4a2c
3,Soho Vegan Market,Vegetarian / Vegan Restaurant,Rupert Street,51.512285,-0.133766,"[{'label': 'display', 'lat': 51.512285, 'lng':...",696,W1D 7PP,GB,London,Greater London,United Kingdom,"[Rupert Street, London, Greater London, W1D 7P...",NaN,NaN,5ad1edfe3ba7671c3ec4b6f8
4,222 Veggie Vegan,Vegetarian / Vegan Restaurant,222 North End Rd,51.486076,-0.202802,"[{'label': 'display', 'lat': 51.48607614693036...",5720,W14 9NU,GB,Hammersmith,Greater London,United Kingdom,"[222 North End Rd, Hammersmith, Greater London...",NaN,NaN,4bd2ccb39854d13aa352fc4d
5,Korean BBQ & Vegan Restaurant,Korean Restaurant,5 Mile End Road,51.519983,-0.056017,"[{'label': 'display', 'lat': 51.519983, 'lng':...",5158,E1 4TP,GB,London,Greater London,United Kingdom,"[5 Mile End Road, London, Greater London, E1 4...",NaN,NaN,5c2b803618d43b002ce1aae0
6,Vegan Crosstown Doughnuts,Donut Shop,5-6 Picton Pl,51.515354,-0.151135,"[{'label': 'display', 'lat': 51.51535387690779...",1856,W1U 1BW,GB,London,Greater London,United Kingdom,"[5-6 Picton Pl, London, Greater London, W1U 1B...",NaN,NaN,5aaf8519e2d4aa7dd23b9325
7,Astro Vegan,Food Stand,NaN,51.519875,-0.109297,"[{'label': 'display', 'lat': 51.519875, 'lng':...",1889,E C1N,GB,London,Greater London,United Kingdom,"[London, Greater London, E C1N, United Kingdom]",NaN,NaN,596364a48194fc32008e3118
8,Vegan Nights London,Vegetarian / Vegan Restaurant,NaN,51.521603,-0.071401,"[{'label': 'display', 'lat': 51.521603, 'lng':...",4208,E1,GB,London,Greater London,United Kingdom,"[London, Greater London, E1, United Kingdom]",Spitalfields and Banglatown,NaN,59cd593f91eaca3d8eaa4f52
9,Y Vegan,Vegetarian / Vegan Restaurant,Tabard Street,51.501471,-0.092695,"[{'label': 'display', 'lat': 51.501471, 'lng':...",2507,SE1 4JU,GB,London,Greater London,United Kingdom,"[Tabard Street, London, Greater London, SE1 4J...",NaN,NaN,5ad875bf4c954c4c42939667
10,Vegan Veggie Love Cafe,Vegetarian / Vegan Restaurant,29 Corsham Street,51.527583,-0.086871,"[{'label': 'display', 'lat': 51.52758268212619...",3614,N1 6DP,GB,London,Greater London,United Kingdom,"[29 Corsham Street, London, Greater London, N1...",NaN,NaN,53036500498edf77c3881003
11,Vegan and Vegetarian Cuisine,Vegetarian / Vegan Restaurant,NaN,51.473682,-0.111111,"[{'label': 'display', 'lat': 51.47368215178113...",3916,NaN,GB,NaN,NaN,United Kingdom,[United Kingdom],NaN,NaN,502686ffe4b0f46cce4f6937
12,Vegan No Blood No Bones,Vegetarian / Vegan Restaurant,NaN,51.523546,-0.076607,"[{'label': 'display', 'lat': 51.523546, 'lng':...",3970,E1 6GY,GB,London,Greater London,United Kingdom,"[London, Greater London, E1 6GY, United Kingdom]",NaN,NaN,59b189c61acf1175646cdc65
13,Global Fusion Vegan Creole Food,Vegetarian / Vegan Restaurant,Chelsea Barracks Farmers Market,51.490897,-0.160274,"[{'label': 'display', 'lat': 51.490897, 'lng':...",2907,NaN,GB,London,Greater London,United Kingdom,[Chelsea Barracks Farmers Market (Saturday Onl...,NaN,Saturday Only,4f76e38de4b0c8b497821044
14,veg vegan,Vegetarian / Vegan Restaurant,337 euston rd,51.540951,-0.141377,"[{'label': 'display', 'lat': 51.54095087051195...",3862,Nw1 3ad,GB,Camden Town,Greater London,United Kingdom,"[337 euston rd, Camden Town, Greater London, N...",NaN,NaN,4b992c74f964a520ed6635e3
15,London Vegetarian and Vegan School,School,217 Long Lane,51.498461,-0.083773,"[{'label': 'display', 'lat': 51.49846117038613...",3196,SE1 4PA,GB,London,Greater London,United Kingdom,"[217 Long Lane (Unit 6 Dun dee Ct.), London, G...",NaN,Unit 6 Dun dee Ct.,57b97dfc498e955a180e90e2
16,London Vegetarian and Vegan School,Building,NaN,51.498638,-0.083737,"[{'label': 'display', 'lat': 51.498638, 'lng':...",3192,NaN,GB,London,Greater London,United Kingdom,"[London, Greater London, United Kingdom]",NaN,NaN,57b9ad1a498ec3e4b51e80b1
17,Pipoca Vegan,Vegetarian / Vegan Restaurant,224 Brixton Rd,51.472065,-0.112784,"[{'label': 'display', 'lat': 51.472065, 'lng':...",4057,SW9,GB,London,Greater London,United Kingdom,"[224 Brixton Rd, London, Greater London, SW9, ...",NaN,NaN,5b77fd3095a722002b2802d5
18,Vegan Yes,Vegetarian / Vegan Restaurant,"22 Seven Sisters Rd, Unit 6",51.558007,-0.118053,"[{'label': 'display', 'lat': 51.558007, 'lng':...",5681,N7 6AG,GB,London,Greater London,United Kingdom,"[22 Seven Sisters Rd, Unit 6, London, Greater ...",NaN,NaN,59739799db1d817cc84616b0
19,Vegan Jesus,Café,The yard,51.469730,-0.066555,"[{'label': 'display', 'lat': 51.46973, 'lng': ...",5953,SE15 4UJ,GB,London,Greater London,United Kingdom,"[The yard, London, Greater London, SE15 4UJ, U...",NaN,NaN,59bced6f7dc9e174b5311266
20,Vegan Tea Room,Tea Room,56 Stoke Newington High St,51.552141,-0.076193,"[{'label': 'display', 'lat': 51.55214087733508...",6131,N16,GB,Hackney,Greater London,United Kingdom,"[56 Stoke Newington High St, Hackney, Greater ...",NaN,NaN,510e657ee4b03bf838e88434
21,Shakey Shakey Vegan,Vegetarian / Vegan Restaurant,NaN,51.521777,-0.071564,"[{'label': 'display', 'lat': 51.521777, 'lng':...",4205,E1 6RU,GB,London,Greater London,United Kingdom,"[London, Greater London, E1 6RU, United Kingdom]",NaN,NaN,5ae85097f870fd002c776e15
22,Jakes Vegan Steaks,Vegetarian / Vegan Restaurant,NaN,51.521821,-0.071393,"[{'label': 'display', 'lat': 51.521821, 'lng':...",4218,E1 6RU,GB,London,Greater London,United Kingdom,"[London, Greater London, E1 6RU, United Kingdom]",NaN,NaN,5a9c0454356b49667bec2e0a
23,Vegan Sweet Tooth London,Food Truck,60 Chatsworth Rd,51.549477,-0.039892,"[{'label': 'display', 'lat': 51.54947710719424...",7678,E5 0LH,GB,London,Greater London,United Kingdom,"[60 Chatsworth Rd, London, Greater London, E5 ...",NaN,NaN,5435cc13498e3f9f848d52ae
24,Vida Vegan Bakery,Bakery,139 Brick Lane,51.523909,-0.071618,"[{'label': 'display', 'lat': 51.523909, 'lng':...",4298,E1 6SB,GB,London,Greater London,United Kingdom,"[139 Brick Lane, London, Greater London, E1 6S...",NaN,NaN,5b214b9779f6c7002c292e6b
25,Vegan Express,Vegetarian / Vegan Restaurant,3a Mitcham Lane,51.428704,-0.131605,"[{'label': 'display', 'lat': 51.428704, 'lng':...",8755,SW16 6LG,GB,London,Greater London,United Kingdom,"[3a Mitcham Lane, London, Greater London, SW16...",NaN,NaN,5c9bd66e3b8307002c7060e5
26,Vegan Express,Vegetarian / Vegan Restaurant,913 Garrett Lane,51.431372,-0.176031,"[{'label': 'display', 'lat': 51.431372, 'lng':...",9096,SW17 0LT,GB,London,Greater London,United Kingdom,"[913 Garrett Lane, London, Greater London, SW1...",NaN,NaN,582dace73731812e47f81fb0
27,Essential Vegan,Vegetarian / Vegan Restaurant,6 Calvert Avenue,51.526287,-0.077451,"[{'label': 'display', 'lat': 51.526287, 'lng':...",4067,E2 7JP,GB,London,Greater London,United Kingdom,"[6 Calvert Avenue, London, Greater London, E2 ...",Shoreditch,NaN,557583c1498e61f5350ee6b9
28,Keren View Vegan Restaurant,Vegetarian / Vegan Restaurant,201 Holloway Road,51.550766,-0.109939,"[{'label': 'display', 'lat': 51.550766, 'lng':...",4989,N7 8DJ,GB,London,Greater London,United Kingdom,"[201 Holloway Road (Liverpool Road), London, G...",Islington,Liverpool Road,5b48f13588a48b0024f45209
29,Rudy's Dirty Vegan Diner,Vegetarian / Vegan Restaurant,NaN,51.542488,-0.148512,"[{'label': 'display', 'lat': 51.54248830466316...",4172,NW1 8AH,GB,London,Greater London,United Kingdom,"[London, Greater London, NW1 8AH, United Kingdom]",Primrose Hill,NaN,5ac60dc760d11b5457302b4a

#### Data Visualization

In [90]:
venues_map = folium.Map(location=[latitude, longitude], zoom_start=13) # generate map centred around London


# add the Vegan restaurants as green circle markers
for lat, lng, label in zip(dataframe_filtered.lat, dataframe_filtered.lng, dataframe_filtered.categories):
    folium.features.CircleMarker(
        [lat, lng],
        radius=5,
        color='green',
        popup=label,
        fill = True,
        fill_color='green',
        fill_opacity=0.6
    ).add_to(venues_map)

# display map
venues_map

### Data Observations:

##### Foursquare found 29 purely Vegan restaurants in the 30 000 m radius from the center of London. Using simple data mapping we can already see some trends within a Geo-location of these establishments. Next step in the statistical analysis I will explore the density of these establishments on the London map. their distance from the center of London. I will also try to create the list of 5 best rated vegan restaurants in London.

#### Saving created data frames:

In [91]:
df_LondL.to_csv('London_postcodes_geo.csv')

In [93]:
df_London.to_csv('London_postcodes.csv')

In [94]:
dataframe_filtered.to_csv('London_veg_restaurants.csv')